* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display:inline;
  font-size: larger;
}
.navbar .app-title{color: white; font-size: x-large;}


header, footer {
  background-color: rgb(150, 0, 0);
  font-size: larger;
  font-weight: bolder;
  color:rgba(250, 250, 250, 1);
  margin-top: 5px;
  margin-bottom: 5px;

}

.main, .about, .create-item, .not-found {
  margin: 10px;
  padding: 10px;
}

footer{
  position: relative;
  bottom: 0;
  text-align: center;

}
.navbar {
  position: sticky;
  top: 0;
  color: rgba(50, 0, 0, 0.75);
  text-transform: capitalize;
  text-align: center;
  
}
.navbar ul{
  list-style-type: none;
  display: inline;
}
.navbar li{
  display: inline;
}
.navbar a:hover, .navbar a:focus{
  background-color: rgba(50, 0, 0, 1);
}
.navbar a{
  color: rgba(250, 250, 250, 1);
  text-decoration: none;
  display: inline-block;
  width: 20%;
  height: 2rem;

}
h1, h2, h3 {
  color:rgb(150, 0, 0);
  text-align: center;
}
form {
  margin: 10px;
  padding: 10px;
  background-color: rgba(50, 0, 0, 0.2);
  border-radius: 5%;
}
form h2 {
  text-align: center;
}
input:required:invalid {
  border-color: red;
}
.form-control {
  display: block;
  width: 80%;
  margin: 10px auto;
}
.form-control label {
  display: block;
  font-weight: bolder;
  font-size: larger;
}
.form-control input, .form-control button, .form-control textarea {
  min-width: 90%;
  background-color: rgb(245, 225, 225);
  border: 1px solid black;
  height: 2em;
}
.form-control button {
  border-radius: 4px;
  font-size: larger;
  border: 2px outset black;
}
.form-control button:hover {
  font-weight: bolder;
  border:4px outset black;
}
.form-control textarea {
  height: 15ch;
}
input[type=date]{
  min-width: auto;
}
table {
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  border-collapse: collapse;
  display: block;
}
tr {
  border-bottom: 1px solid rgb(150, 0, 0);
}

table tr:nth-child(odd){
  background-color: lightgray;
}
thead {
  font-weight: bolder;
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 2rem;
}
th{
  background-color: rgb(150, 0, 0);
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 45%;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.btn {
  border: 5px inset black;
  box-shadow: 5px 10px lightgray;
  padding: 5px 15px;
  border-radius: 10px;
}
a.back {
  text-decoration: none;
  color:white;
  display: block;
  margin: 10px auto;
  padding: 15px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bolder;
  background-color: rgba(50, 0, 0, 1);
}

.center {
  text-align: center;
}

.material-icons {
  color: rgb(150, 0, 0);
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
